{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<script src="{% static 'js/header.js' %}"></script>

<div class="header" id="header">
    <img src="{% static 'images/logoSmall.png' %}" class="logo" id="logo"></img>
    <ul class="navBar" id="navBar">
        <li class="newsB" id="newsB"><a>NOVIDADES</a></li>
        <li class="aboutB" id="aboutB"><a>SOBRE</a></li>
        <li><a href="/thebox">THE BOX</a></li>
        <li><a href="/printassist">PRINT ASSIST</a></li>
        <li><a href="/contato">CONTATO</a></li>
    </ul>
</div>
