{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<script src="{% static 'js/header.js' %}"></script>

<div class="header" id="header">
    <img src="{% static 'images/logoSmall.png' %}" class="logo" id="logo"></img>
    <ul class="navBar" id="navBar">
        <li class="newsB" id="newsB"><a>NOVIDADES</a></li>
        <li class="aboutB" id="aboutB"><a>SOBRE</a></li>
        <li class="theboxB" id="theboxB"><a>THE BOX</a></li>
        <li class="printassistB" id="printassistB"><a>PRINT ASSIST</a></li>
        <li class="contactB" id="contactB"><a>CONTATO</a></li>
        <li><a href="/suporte">SUPORTE</a></li>
    </ul>
</div>
