<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Print Assist</title> {% load staticfiles %}
    <link rel="icon" href="{% static 'images/icon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
</head>

<!-- have to load this first cos header gives error if not  -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery.visible.js' %}"></script>
<script src="{% static 'js/banner.js' %}"></script>

<body>
    <!-- import header template  -->
    {% include 'header.html' %}
    <!-- main page -->
    <div class="main" id="main">
        <div class="news" id="news">
            <div class="aboutSlide" id="aboutSlide">
                <p class="leftSelector">
                    <</p>
                        <p class="rightSelector">></p>
                        <ul>
                            <li style="background-color: #000;">
                                <p class="newsTitle" id="newsTitle">Título da notícia</p>
                                <p class="subtitle" id="subtitle">subtítulo da notícia fale mais</p>
                                <video playsinline autoplay muted loop class="newsvid">
                                  <source src="{% static 'images/news.webm' %}" type="video/webm">
                                </video>
                            </li>
                            <li style="background: url('https://i.ytimg.com/vi/O2thSsQrZUM/maxresdefault.jpg') no-repeat center;">
                                <p class="newsTitle" id="newsTitle">Título da notícia</p>
                                <p class="subtitle" id="subtitle">subtítulo da notícia fale mais</p>
                            </li>
                            <li style="background: url('https://i.ytimg.com/vi/O2thSsQrZUM/maxresdefault.jpg') no-repeat center;">
                                <p class="newsTitle" id="newsTitle">Título da notícia</p>
                                <p class="subtitle" id="subtitle">subtítulo da notícia fale mais</p>
                            </li>
                            <li style="background: url('https://i.ytimg.com/vi/O2thSsQrZUM/maxresdefault.jpg') no-repeat center;">
                                <p class="newsTitle" id="newsTitle">Título da notícia</p>
                                <p class="subtitle" id="subtitle">subtítulo da notícia fale mais</p>
                            </li>
                        </ul>
            </div>
        </div>
        <div class="about" id="about">

        </div>
        <div class="theBox" id="theBox">
            <img src="{% static 'images/profile.png' %}" class="printer" id="printer"></img>
            <div class="container" id="container">
                <p class="textP" id="textP">Simples, conectada, acessível.</p>
                <p class="textP2" id="textP2">Essas são algumas caracteristicas que definem essa máquina.</p>
                <div class="learnMore" id="learnMore">
                    <p>Saiba mais</p>
                </div>
            </div>
        </div>
        <div class="printassist" id="printassist">
            <img src="{% static 'images/logoLarge.png' %}" class="logoL" id="logoL"></img>
            <div class="cont" id="cont">
                <p>Esteja sempre conectado com a sua impressora.</p>
                <div class="learnMoreP" id="learnMoreP">
                    <p>Saiba mais</p>
                </div>
            </div>
        </div>
        <div class="contact" id="contact">

        </div>
    </div>
</body>

</html>
