html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;

}

.header {
  position: relative;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.about {
  width: 100vw;
  height: 100vh;
  background-color: #ecf0f1;
}

.leftSelector {
    position: absolute;
    font-size: 60px;
    font-family:  roboto;
    top: 35vh;
    left: 10vw;
    color: #ecf0f1;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.newsvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.6;
    width: auto;
    height: auto;
    z-index: 1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.newsTitle {
  position: absolute;
  left: 20vw;
  bottom: 10vh;
  z-index: 2;
  font-family: roboto;
  font-size: 60px;
  color: #ecf0f1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subtitle {
  position: absolute;
  left: 20vw;
  bottom: 0vh;
  font-family: roboto;
  font-size: 40px;
  z-index: 2;
  color: #ecf0f1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.aboutSlide {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;
    background-color: #95a5a6;
    overflow: hidden;
    padding: 0;
}

.aboutSlide ul {
        position: relative;
        margin: 0;

        padding: 0;
        height: 100%;
        list-style: none;
        overflow: hidden;
    }

.aboutSlide ul li {
       position: relative;
       display: block;
       float: left;
       margin: 0;
       padding: 0;
       width: 100vw;
       height: 100%;
       background: #bdc3c7;
       text-align: center;
       line-height: 300px;
   }

.rightSelector {
    position: absolute;
    font-size: 60px;
    font-family: roboto;
    right: 10vw;
    top: 35vh;
    color: #ecf0f1;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.news {
  width: 100vw;
  height: 100vh;

}


/*Fonts*/

@font-face {
    font-family: opensans-bold;
    src: url(/static/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: opensans-itallic;
    src: url(/static/fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: opensans-light;
    src: url(/static/fonts/OpenSans-Light.ttf);
}


@font-face {
    font-family: opensans-regular;
    src: url(/static/fonts/OpenSans-Regular.ttf);
}
