.header {
  position: fixed;
  background-color: #3498db;
  width: 100vw;
  height: 60px;
  top: 0;
}

@font-face {
    font-family: opensans-bold;
    src: url(/static/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: opensans-itallic;
    src: url(/static/fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: opensans-light;
    src: url(/static/fonts/OpenSans-Light.ttf);
}


@font-face {
    font-family: opensans-regular;
    src: url(/static/fonts/OpenSans-Regular.ttf);
}
